.md {
  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.content-wrapper {
  position: relative;
  top: -60px;
}

.text-editor-wrapper,
.font-size-wrapper,
.color-edit-wrapper,
.author-editor-wrapper {
  margin-top: 24px;
  .title {
    margin-left: 4px;
    margin-bottom: 4px;
  }
  ion-textarea {
    border: 1px solid var(--ion-color-medium-shade);
    border-radius: 8px;
    font-size: 14px;

    --padding-start: 8px;

    textarea {
      min-height: 42px;
    }
  }
  ion-input {
    border: 1px solid var(--ion-color-medium-shade);
    border-radius: 8px;
    --padding-start: 8px;
  }
  ion-select {
    border: 1px solid var(--ion-color-medium-shade);
    border-radius: 8px;
    --padding-start: 8px;
  }
}
.advance-setting-wrapper {
  width: 100%;
  display: flex;
  padding-bottom: 80px;
  .font-size-wrapper {
    width: 100%;
    ion-range {
    }
  }
  .color-edit-wrapper {
    width: 20%;
    ion-select {
      margin-top: 8px;
    }
  }
}
.image-convert-wrapper {
  padding-top: 60px;
}
#canvas-drawer {
  position: absolute;
  left: 9999px;
}
.caption {
  text-align: center;
}
